/* Additional styles for landing page */
body {
  background-color: white;
  padding-top: 70px;
}

.centered {
  text-align: center;
  margin-top: 50px;
  margin-left: 300px;
  max-width: 600px;
  color: black;
  font-family: 'Brush Script MT', cursive;
  font-size: 75px;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}

.landing-paragraph {
  font-size: 20px;
  padding: 20px; 
  width: 50%;
  margin-left: 300px;
  text-align: center;
  margin-top: 20px;
  color: rgb(30, 160, 174);
  font-family: 'Pacifico', cursive;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.learn-more-button {
  display: block;
  width: 200px;
  margin-left: 510px;
  background-color:  rgb(30, 160, 174);
  border: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.learn-more-button:hover {
  background-color:white;
  color: rgb(38, 194, 211) ;
  border: 2px solid  rgb(38, 194, 211);
}

.recipe-cards {
  margin-top: 50px;
  margin-bottom: 50px; 
}

.recipe-card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.recipe-card .card-img-top {
  height: 200px;
  object-fit: cover;
}

.recipe-card .card-img-top img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.recipe-card .carousel-control-prev,
.recipe-card .carousel-control-next {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 50%;
}

.recipe-card .carousel-control-prev:hover,
.recipe-card .carousel-control-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}

.recipe-card .carousel-indicators {
  bottom: -20px;
}

.recipe-card .carousel-indicators li {
  background-color: #999;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}

.recipe-card .carousel-indicators .active {
  background-color: #333;
}

.view-button {
  margin-top: 20px;
  margin-left: 120px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: white;
  color: rgb(38, 194, 211);
  border: 2px solid rgb(38, 194, 211);
}

.view-button:hover {
  background-color: rgb(38, 194, 211);
  border: none;
}

.card-title {
  text-align: center;
}

/* Additional CSS for navbar */
.navbar.fixed-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.navbar-nav .nav-link {
  margin-left: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.navbar-nav .nav-link:hover {
  transform: scale(1.1);
}

.navbar-brand {
  color: #333; /* Replace with your desired color */
  font-weight: bold;
  font-size: 24px;
}

.navbar-brand img {
  height: 40px;
  margin-right: 10px;
}

/* Updated styles */

.navbar-collapse {
  justify-content: flex-end;
}

#carousel-menu .carousel-item img {
  height: 700px;
  width: 100%;
  object-fit: cover;
  margin: 100px;
}

.menu-heading {
  color: #7EBE51;
  font-size: 30px;
  margin: 100px;
  margin-left: 250px;
  margin-top: 200px;
  font-weight: bold;
}

.menu-paragraph {
  font-size: 18px;
  margin: 100px;
  margin-bottom: 70px;
  font-family: 'Pacifico', cursive;
  color: black;
}

.menu-button {
  margin-left: 300px;
  background-color: white;
  color: #7EBE51;
  border: 2px solid #7EBE51;
  font-size: 25px;
  font-weight: bold;
}

.menu-button:hover {
  background-color: #7EBE51;
  border: none;
}

.footer {
  margin-top: 200px;
}

/* Additional styles for signup and login forms */

/* Center the forms */
.signup-form,
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

/* Style the form containers */
.signup-form div,
.login-form div {
  margin-bottom: 20px;
  width: 300px;
}

/* Style the form labels */
.namelogo{
  margin-left: 700px;
  margin-top: 100px;
  margin-bottom: 100px;
  font-weight: bold;
  color: rgb(30, 160, 174)!important;
}

/* Style the form input fields */
.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="password"],
.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Style the form submit buttons */
.signup-form button[type="submit"],
.login-form button[type="submit"] {
  width: 120px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: rgb(30, 160, 174);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.signup-form button[type="submit"]:hover,
.login-form button[type="submit"]:hover {
  background-color: rgb(38, 194, 211);
}

/* Styles for admin.ejs */


.welcome-note {
  margin-top: 100px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color:  rgb(30, 160, 174);
  font-size: 40px;
  font-weight: bold;
}

.admin-authorities {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
  
}

.admin_message {
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: bold;
}

.adbutton-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.adbutton {
  margin: 0 10px;
  color: white !important;
  border: 2px solid rgb(30, 160, 174) !important;
  font-size: 20px  !important;
  font-weight: bold;
  background-color: rgb(30, 160, 174) !important ;
}
.adbutton:hover{

  font-size: 22px  !important;
  background-color: white !important ;
  color: rgb(30, 160, 174)  !important;

}
