<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Recipe App</title>
  <link rel="stylesheet" href="/style.css">
  <style>
    body {
      font-family: Arial, sans-serif;
    }
    h1 {
      text-align: center;
    }
    .recipe-section {
      border: 1px solid #ccc;
      padding: 10px;
      margin-bottom: 20px;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .recipe-title {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 5px;
    }
    .recipe-description {
      margin-bottom: 10px;
    }
    .recipe-buttons {
      display: flex;
      justify-content: flex-end;
      
    }
    .edit-link,
    .delete-link {
      display: inline-block;
      padding: 5px 10px;
      margin-left: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
      text-decoration: none;
      color: #333;
      transition: background-color 0.3s ease;
    }
    .edit-link:hover,
    .delete-link:hover {
      background-color: #d54848;
    }
    .edit-link {
      background-color:rgb(30, 160, 174) ;
      color: #fff;
    }
    .delete-link {
      background-color:rgb(30, 160, 174) ;
      color: #fff;
    }
    .add-link {
      display: block;
      width: 200px;
      margin: 20px auto;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
      text-align: center;
      text-decoration: none;
      background-color: rgb(30, 160, 174) ;
      color:white;
      transition: background-color 0.3s ease;
    }
    .add-link:hover {
      background-color: #230303;
    }
  </style>
</head>
<body>
  <h1>Recipe App</h1>
  <% recipes.forEach((recipe) => { %>
    <section class="recipe-section">
      <h3 class="recipe-title"><%= recipe.title %></h3>
      <p class="recipe-description"><%= recipe.description %></p>
      <div class="recipe-buttons">
        <a href="/recipes/<%= recipe._id %>/edit" class="edit-link">Edit</a>
        <form method="POST" action="/recipes/<%= recipe._id %>?_method=DELETE" style="display: inline;">
          <button type="submit" class="delete-link">Delete</button>
        </form>
      </div>
    </section>
  <% }) %>
  <a class="add-link" href="/recipe-form">Add New Recipe</a>
</body>
</html>
