<!-- Footer -->
<footer class="footer bg-light py-2  ">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h5>About Us</h5>
                <p>Discover a world of culinary delights with our recipe website.Our mission is to inspire home cooks and food enthusiasts with a wide range of delicious recipes. </p>
            </div>
            <div class="col-md-3">
                <h5>Recipe Categories</h5>
                <ul class="list-unstyled">
                    <li><a href="">Desi</a></li>
                    <li><a href="">Chinese</a></li>
                    <li><a href="">Continental</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Featured Recipes</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Pizzas</a></li>
                    <li><a href="#">Soups</a></li>
                    <li><a href="#">Deserts</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Contact</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Phone: 123-456-7890</a></li>
                    <li><a href="#">Email: info@example.com</a></li>
                    <li><a href="#">Address: 123 Main St, City</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-center">Happy Cooking!!</p>
                <div class="text-center">
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-whatsapp"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
                <p class="text-center">All rights reserved &copy; 2023</p>
            </div>
        </div>
        
    </div>
</footer>